﻿<div class="container">

	<header-bar info="home"></header-bar>

	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>Flickular</h1>
		<p>
			This is a test application built using the AngularJS framework. Its main goal is to connect
			to the Flickr API and bring back some entries.
		</p>
		<p>
			<a class="btn btn-lg btn-primary" ng-href="#/sample/imagesList" role="button">Lets get started &raquo;</a>
		</p>
	</div>

</div>